<% layout('/layouts/boilerplate') -%>
<script>
  const mapToken = "<%= process.env.MAPBOX_TOKEN%>";
</script>
<div class="row">
  <div class="col-8 offset-3">
    <h3><b><%= listing.title %></b></h3>
    <div class="card listing-card" style="width: 18rem">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_img"
        style="height: 12rem"
      />
      <div class="card-body">
        <p>Owned By : <i><%= listing.owner.username %></i></p>
        <p class="card-text">
          <%= listing.description %><br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> <br />
          <%= listing.location %><br />
          <%= listing.country %>
        </p>
      </div>
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
    <div class="edit-delete">
      <a
        href="/listings/<%= listing._id %>/edit"
        class="btn btn-dark me-3 edit-btn"
        >Edit listing</a
      >
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark">Delete listing</button>
      </form>
    </div>
    <% } %> <% if(currUser){ %>
    <div class="row">
      <div class="col-8 offset-0">
        <hr />
        <form
          method="POST"
          action="/listings/<%= listing._id %>/reviews"
          novalidate
          class="needs-validation"
        >
          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input
              id="rating"
              type="range"
              min="1"
              max="5"
              name="review[rating]"
              class="form-range"
            />
          </div>
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea
              id="comment"
              class="form-control"
              cols="30"
              rows="5"
              name="review[comment]"
              required
            ></textarea>
            <div class="invalid-feedback">Please add a short review!</div>
          </div>
          <button class="btn btn-outline-dark mb-3">Submit</button>
        </form>
        <% } %>
        <hr />
        <%if(listing.reviews.length > 0){%>
        <div class="row">
          <p><b>All reviews</b></p>
          <% for(review of listing.reviews){ %>
          <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text"><%= review.comment %></p>
              <p class="card-text"><%= review.rating %></p>
            </div>
            <form
              class="mb-3"
              method="POST"
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>
      <div class="col-6 offset-0 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<script src="/js/map.js"></script>
